{
	templateData:
		site:
			url: 'http://my-production-website.com'
			services:
				facebookLikeButton:
					applicationId: '266367676718271'
				facebookFollowButton:
					applicationId: '266367676718271'
					username: 'balupton'
				twitterTweetButton: 'balupton'
				twitterFollowButton: 'balupton'
				githubFollowButton: 'balupton'
				githubStarButton: 'bevry/docpad'
				quoraFollowButton: 'Benjamin-Lupton'
				travisStatusButton: 'bevry/docpad'
				furyButton: 'docpad'
				gittipButton: 'docpad'
				flattrButton: '344188/balupton-on-Flattr'
				paypalButton: 'QB8GQPZAH84N6'  # paypal button email id

				disqus: 'disqus-id'
				gauges: 'gauges-id'
				googleAnalytics: 'googleAnalytics-id'
				inspectlet: 'inspectlet-id'
				mixpanel: 'mixpanel-id'
				reinvigorate: 'reinvigorate-id'
				zopim: 'zopim-id'
}